* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

body {
  margin: 0;
}

.column-container,
.saved-img-general-container {
  width: 80%;
  margin: 0 auto;
  /* height: 86vh; */
  /* overflow: hidden; */
}

.column-count-1,
.column-count-2,
.column-count-3,
.column-count-4 {
  column-gap: 5px;
}


.column-count-1 {
  column-count: 1;
}


.column-count-2 {
  column-count: 2;
}

.column-count-2 .img-container_image {
  height: 300px;
}

.column-count-3 {
  column-count: 3;
}

.column-count-3 .img-container_image {
  height: 200px;
}

.column-count-4 {
  column-count: 4;
}

.column-count-4 .img-container_image {
  height: 240px;
}

.img-container {
  /* position: relative;
  display: inline; */
}

.img-container_image {
  display: block;
  width: 100%;
  height: 400px;
  margin-bottom: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
       break-inside: avoid; /* IE 10+ */}

.saved-img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.img-container_image-overlay {
  /* opacity: 0; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .4s;
}

.img-container_image-overlay-btn {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  background-color: #000;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.img-container_image-overlay-btn:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.img-container:hover .img-container_image-overlay {
  opacity: 1;
  background-color: rgba(121, 117, 117, 0.501);
}

.showe-more-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  font-size: 20px;
  background-color: #a0f3a0;
}

.tab-container {
  display: flex;
}

/* .tab {
  padding: 20px 30px;
} */

.tab_link {
  display: block;
  /* padding: 20px 20px; */
  color: #000;
  text-decoration: none;
}

.saved-img-tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab_link__active {
  color: red;
}

.error-404-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-404-container_message {
  font-size: 60px;
  font-weight: 900;
}

.saved-img-container {
  position: relative;
}

.delete-btn {
  display: none;
  position: absolute;
  top: -16px;
  right: -10px;
  padding: 5px 11px;
  border: 2px solid;
  border-radius: 50%;
  background-color: rgb(224, 10, 10);
  color: #fff;
  font-size: 20px;
  font-weight: bold; 
}

.saved-img-container:hover .delete-btn {
  display: block;
}

